/*apply a natural box layout model to all ements, but allowing components to change*/
html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
}



.cell            { cursor: cell; }
div#face {
	width: 40vw;
	height: 40vw;
	margin: 0 auto;
	position: relative;
	background: #e8cda8;
  margin-top: 2rem;
}
div#face, div#face * {
	border-radius: 50%;
}
.eye {
	width: 25%;
	height: 25%;
	background: #fff;
	position: absolute;
	top: 20%;
}
.left.eye { left: 20%; }
.right.eye { right: 20%; }
.pupil {
	background: #000;
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: bottom;
}
#cheek_left{
  background: pink;
  position: relative;
  width: 20%;
  left: 10%;
  height: 20%;
  border-radius: 100%;
  top: 50%;

}
#cheek_right{
  background: pink;
  position: absolute;
  width: 20%;
  left: 70%;
  height: 20%;
  border-radius: 100%;
  top: 50%;

}

#mouth {
	position: relative;
	width: 60%;
	left: 20%;
	height: 25%;
	border: 1vw solid transparent;
	border-radius: 50%;
	top: 45%;
	border-bottom-color: #000;
}

.ear {
  position: relative;
  border-radius: 50%;
  width: 15vw;
	height: 15vw;
	background: #e8cda8;
	position: absolute;
	top: 30%;
}
.left.ear { left: 25%; }
.right.ear { right: 25%; }
.neck {
  position: absolute;
  width: 20%;
	height: 90%;
  background: #e8cda8;
  left: 40%;
  bottom: 0%;
}
#bubble {
	position: absolute;
	width: 325px;
	height: 150px;
	padding: 18px;
  margin-top: 5%;
	background: #C0E4FB;
	-webkit-border-radius: 47px;
	-moz-border-radius: 47px;
	border-radius: 47px;
	right: 0px;
	top:0px;
}

#bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 30px 15px 0;
border-color: transparent #C0E4FB;
display: block;
width: 0;
z-index:  6;
left: -30px;
top: 100px;
}

body{
  background-color: skyblue;
  background-image: url("sun-icon-30.png");
  color: white;
  font-family: 'Baloo Bhaina';

}

p{
  font-size: 20px;
